/* .cards{
    margin: 2rem 2rem 2rem .5rem;
    padding: .1rem;
    
    width: 300px;
    box-shadow: 0 0 28px 4px rgba(0,0 ,0 ,0.7);
    border-radius: 10px;
     
 }
 .cardName{
     font-size: 1.5rem;
     font-weight: 800;
 }
 .cardBody{
     font-size: 1rem;
 }
 .cellPhone{
     font-size: .8rem;
     font-style: italic;
 }
 .cardBodyImg{
     display: flex;
     justify-content: flex-end;
 }
 .cardBodyImg img{
     border-radius: 50%;
 }

@media (max-width: 991px) {
}


@media (max-width: 768px) {
   
   
    
} */